# Require review from at least one of the following persons:
#  - Alex Quinn (MIT)
#  - Josh Bailey (QUB)

*    @quinnale @Joshjbailey123

# Or, for more granular—only specific directories:
# src/**    @alice
# docs/**   @bob
